<h1>Ths is the ALPHABLOG Home Page using symbolic links<h1>
<%= link_to 'About', about_path %>
<div width=80% align=center>
<%= link_to image_tag('White-Clouds-PNG-Picture.png'), 'http://pngimg.com/imgs/nature/cloud/', data: { confirm: "Are you sure?" }, target: "_blank", rel: "nofollow" %>
</div>
